* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #011d24;
}

.bold {
  font-weight: 600;
}

.italic {
  font-style: italic;
}

.page {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #525659;
  padding: 3px;
}

.container {
  background-color: white;
  width: 793.700787px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
  rgba(17, 17, 26, 0.1) 0px 0px 8px;
  padding: 0 36px;
}

.info {
  padding: 12px 0;
  display: flex;
  border-bottom: 2px solid #00868e;
}

.info .title {
  width: 60%;
  display: flex;
  align-items: center;
}

.info .title .box-title {
  flex-grow: 1;
  border-right: 2px solid #00868e;
}

.info .list-title {
  flex-grow: 1;
}

.avatar img {
  margin-right: 16px;
  border-radius: 50%;
}

.box-title {
  text-transform: uppercase;
}

.box-title .name {
  font-size: 2.3rem;
  color: #033c4a;
  margin-bottom: 4px;
}

.box-title .title-word {
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: -0.9px;
  word-spacing: 1px;
}

.mt8 {
  height: 8px;
  width: 793.700787px;
  background-color: #00868e;
}

.list-title {
  list-style-type: none;
}

.list-title li {
  margin: 8px 0;
  text-align: right;
  line-height: 1.2;
  font-size: 0.8rem;
}

.list-title .icon i {
  color: #023845;
  margin-left: 8px;
  font-size: 1.1rem;
}

.word a {
  color: #000;
}

.details {
  display: flex;
  padding: 24px 0;
}

.short-side {
  min-width: 40%;
  border-right: 2px solid #00868e;
  padding-right: 36px;
  overflow-wrap: break-word;
}

.long-side {
  flex-grow: 1;
  padding-left: 36px;
  overflow-wrap: break-word;
}

.box {
  font-size: 0.9rem;
  margin-bottom: 36px;
}

.box .title {
  text-transform: uppercase;
  color: #275c5d;
  letter-spacing: 3px;
  margin-bottom: 12px;
  font-weight: 500;
}

.box .content {
  margin-bottom: 12px;
}

.box .content .topic {
  font-weight: 600;
  margin-bottom: 4px;
} 

.box .content .school {
  font-weight: 700;
  font-size: 0.7rem;
  margin-bottom: 4px;
} 

.box .content .phase {
  font-style: italic;
  font-size: 0.8rem;
  margin-bottom: 4px;
}

.box .content .subjects {
  list-style-position: inside;
  font-size: 0.9rem;
}

.box .content .subjects li {
  line-height: 1.4;
}

.box .goals {
  line-height: 1.4;
}